<h1>Hodor</h1>

 <div class="fig1">
   <%= image_tag 'hodor1.jpeg' %>
</div>
<br>

<h2 class="quote" >"Hodor"<br>
-Hodor</h2>

<div class="footer navbar-fixed-bottom">
  <%= link_to 'Add Another Rescue', new_rescue_path %>
</div>
